html {
    scroll-behavior: smooth;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
    list-style: none;
    position: relative;
    box-shadow: none;
}

a {
    min-width: min-content;
}

.max-width {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

path {
    fill: white;
}


/* NAVMENU */
nav{
    background-color: brown;
    height: 57px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
}

.logo{
    color: white;
    font-size: 2em;
    line-height: 57px;
    padding-left: 0.5em;
    font-weight: bold;
}
nav ul {
    float: right;
}

nav ul li {
    display: inline-block;
    line-height: 57px;
    margin-right: 0.5em;
}

nav ul li a {
    color: white;
    font-size: 1em;
    padding: 0.8em 0.3em;
    border-radius: 5px;
    font-weight: 520;
}

 a:hover{
    background-color: darkgray;
    transition: .5s;
}

.checkbtn{
    font-size: 1.5em;
    color: white;
    float: right;
    line-height: 70px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
    
}
#check {
    display: none;       
}


/* LANDING SECTION */

.contenedor-de-portada {
    width: 100%;
    height: 450px;
    position: relative;
    background: #E55D87;
    background: -webkit-linear-gradient(to right, rgba(95, 195, 228, 0.5), rgba(229, 93, 136, 0.5)), url(img/fondo.jpg) no-repeat center/cover;
    background: linear-gradient(to right, rgba(95, 195, 228, 0.5), rgba(229, 93, 136, 0.5)), url(img/fondo.jpg) no-repeat center/cover;
    background-position-y: 83%;
}

.contenedor-de-nombre {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 100%;
    text-align: center;
}

.josuealvarez {
    font-family: sans-serif;
    color: white;
    font-size: 38px;
}

.programador-web {
    font-family: sans-serif;
    color: white;
    text-align: center;
    font-size: 20px;
}

.hondas {
    display: block;
    position: absolute;
    bottom: 0;
    height: 22.22%;
    width: 100%;
}

/* PRESENTACION */

.contenedor-de-presentacion {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-auto-rows: min-content;
    padding: 0em 1em;
}

.seccion-izquierda {
    display: flex;
    flex-direction: column;
    align-self: center;
}
.seccion-izquierda p {
    font-weight: 550;
    font-size: 190%;
}
.seccion-derecha {
    width: 60%;
    margin: auto;
}

.seccion-derecha img {
    margin: auto;
    width: 100%;
    clip-path: polygon(10% 0%, 100% 0%, 95% 100%, 0% 100%);
}



/* 多QUE HACEMOS? */

#QUEHACEMOS {
    padding: 2em 0;
    display: flex;
    align-content: center;
}

.que-hacemos {
    border-right: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 35%;
    padding: 0 1em 0 1em;
}
.que-hacemos p{
    font-size: 200%;
}

.que-hacemos-descripcion{
    padding: 1em 1em; 
    flex-basis: 65%; 
}

.dise単amos-para {
    font-size: 140%;
    text-align:center ; 
    margin-bottom: 10px;
    text-decoration: underline;
}

.imagenes-en-triangulos {
    margin-top: 1.5em;
}

.imagenes-en-triangulos div {
    width: 105px;
    overflow: hidden;
}
.imagenes-en-triangulos div:hover{
    transform: scale(1.2);
    transition: .5s;
}

.deposita-un-adelanto {
    margin: 0 5% 0 5%;
}

/* CARTAS */

.fondo {
    padding-top: 0.3em;
    padding-bottom: 1em;
    position: relative; 
    margin: 1em auto;
    background-image: linear-gradient(rgb(0,0,0,0.1), rgb(0,0,0,0.1)), url(img/laptopyescribir.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.titulo-de-cartas {
    font-size: 200%;
    text-align: center;
    margin-bottom: 1em;
    color: white;
    font-weight: bold;
}

.hondas1-fondo {
    display: block;
    position: absolute;
    top: 0;
    height: 10%;
    width: 100%;
}

.hondas2-fondo {
    display: block;
    position: absolute;
    bottom: 0;
    height: 10%;
    width: 100%;
}

.contenedor-general-de-cartas {
    margin-top: 4em;
    margin-bottom: 4em;
}

.contenedor-de-cartas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1.5em;
    margin: 2em 1em 0em 1em;
    width: 85%;
    margin: auto;
}

.card {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.712); 
    border-radius: 5%;
}

.card:hover{
    background-color: white;
}

.card h5 {
    padding: 15px 0;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    font-size: 1em;
}
.items-de-costos li {
    margin-bottom: 10px;
}
.precio {
    font-size: 180%; 
    margin-top: 5px;
}
.precio-en-pesos{
    font-size: 85%; 
    margin-bottom: 5px; 
    margin-bottom: 15px;
}
.gratis {
    line-height: 1.7em;
}
.card div a {
    display: block;
    width: 50%;
    border: 2px solid black;
    border-radius: 50px;
    margin: 1.5em auto;
    padding: 10px 0;
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

.card div a:hover {
    background-color: lightsteelblue;
}


/* PORQUE TENER UNA PAGINA WEB */

.contenedor-de-pregunta {
    margin: 1em auto 2.5em auto;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-auto-rows: min-content;
    padding: 0em 1em;
}

.seccion-derecha2 {
    display: flex;
    flex-direction: column;
    align-self: center;
}

.seccion-izquierda2 {
    margin: auto;
    width: 90%;
}

.seccion-izquierda2 img {
    width: 100%;
    margin: auto;
    clip-path: polygon(15% 0%, 100% 0%, 90% 100%, 0% 100%);
}

    /* Lista de items */
    
    .contenedor-de-lista {
        margin: auto;
        margin-top: 1.5em;
        padding: 0.5em;
        display: grid;
        row-gap: 0.5em;
        width: 80%;
    }
    .contenedor-de-item {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: auto;
        column-gap: 0.5em;
    }
    .item{
        display: flex;
        align-items: center;
    }
    .fa-check{
        margin-right: 5px;
        font-size: 17.5px;
    }
    .contenedor-de-pregunta path {
        fill: black;
    }


/* GIF */

.gif {
    text-align: center;
    position: relative;
    margin-bottom: 2em;
}
.rectangulo {
    height: 34%;
    width: 100%;
    position: absolute;
    top: 0;
    background-color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rectangulo h2{
    width: 83%;
    margin: auto;
    font-size: 1.5em;
}

.gif img {  
    width: 35%;
    margin-bottom: -5px;
}


/* CONTACTO */

#CONTACTO {
    background: linear-gradient(rgb(0,0,0,0.5), rgb(0,0,0,0.5)),url(img/ternoconlaptop.jpg) center repeat-x;
    background-size: cover;
    background-position-y: 45%;
    padding-top: 3em;
    padding-bottom: 2em;
    
}
.formulario-titulo{
    font-size: 170%;
    text-align: center;
    color: white;
    text-decoration: underline;
    margin-bottom: 0.5em;
}
.formulario {
    display: flex;
    margin: auto;
    padding-top: 1em;
    text-align: center;
}

.formulario-texto{
    color: white;
    flex-basis: 50%;
    padding: 0 1.5em;
}
.formulario-texto h2 {
    font-size: 1.5em;
}
.formulario-texto p{
    font-size: 1em;
    margin-bottom: 1em;
}
.formulario-texto ul {
    line-height: 2em;
}

.fa-location-arrow{
    font-size: 225%;
    transform: rotate(30deg);
}

.formulario-texto ul li a{
    display: flex;
    justify-content: center;
    align-items: center;
}
.formulario-texto ul li a:visited{
    color: white;
    font-style: italic;
}
.formulario-texto ul li a:link{
    color: white;
}
.formulario-texto ul li a:hover{
    background-color: rgba(0, 0, 0, 0);
}

.fa-whatsapp, .fa-envelope{
    font-size: 1.25em;
    margin-right: 10px;
}
.formulario-formulario {
    flex-basis: 50%;
}
form {
    margin: auto;
    width: 80%;
}

form div p{
    font-weight: 750;
    margin-bottom: 1.1em;
}

input{
    height: 1.5em;
}boton
#boton{
    height: auto;
}

input, textarea {
    max-width: 100%;
    min-width: 100%;
    font-size: 1em;
    margin-bottom: 0.7em;
    border-radius: 2.5px;
    border-style: none;
    padding-left: 3px;
}
textarea {
    max-height: 100px;
    min-height: 100px;
    border-style: none;
    border-radius: 2.5px;
    
    padding-top: 2px;
}

form #boton {
    display: block;
    border: 2px solid black;
    border-radius: 5%;
    margin: 1.5em auto;
    padding: 10px 0;
    text-decoration: none;
    color: black;
    margin-top: 0;
    border-radius: 50px;
}

form #boton:hover {
    background-color: lightsteelblue;
}
.formulario-texto ul li:hover{        
    transform: scale(1.2);
    transition: .5s;
    }

/* FOOTER */

#FOOTER {
    color: white;
    height: auto;
    background-color: black;
    position: relative;
    padding-top: 3em;
    padding-bottom: 2em;
}

.contenedor-de-footer {
    display: flex;
    align-items: center;
    padding: 0 3em 0 3em;
}

.contenedor-de-footer div {
    padding-right: 1.5em;
    text-align: center;
    font-size: 80%;
}

.contenedor-de-footer div h3 {
    font-size: 150%;
}

.josuealvarez-footer {
    flex-basis: 50%;
}

.footer-imagen {
    flex-basis: 50%;
}

.footer-imagen img{
    width: 60%;
    clip-path: polygon(0% 15%, 12% 15%, 12% 0%, 88% 0%, 88% 15%, 100% 15%, 100% 85%, 88% 85%, 88% 100%, 12% 100%, 12% 85%, 0% 85%);
}

form a {
    background-color: rgb(255, 255, 255);
}


@media(max-width: 650px) {

    form div p {
        margin-bottom: 0.8em;
    }
    
    /* MENU BAR */
    .checkbtn{
        display: block;
        line-height: 55px;
    }
    nav ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: black ;
        left: -100%;
        text-align: center;
        transition: all .5s;
        z-index: 1;
    }
    nav ul li{
        display: block;
        margin-bottom: 50px ;
        line-height: 1em;
    }
    .active {
        margin-top: 30px;
    }
    nav ul li a{
        display: block;
        font-size: 3vh;
    }
    nav ul li a:hover{        
        padding: 1.5em;
        background: white;
        transition: 0.5s;
        color: black;
    }
    #check:checked ~ ul {
        left: 0;
    }

    /* LANDING SECTION */
    .contenedor-de-nombre h1{
        font-size: calc(100%/4 + 5vh)
    }
    .contenedor-de-nombre p{
        font-size: calc(100%/4 + 3vh)
    }

    /* PRESENTACION */ 
    .contenedor-de-presentacion {
        display: flex;
        flex-direction: column;
        text-align: center;
        
    }
    .seccion-izquierda {
        font-size: calc(100%/4 + 2vh);
    }
    .seccion-izquierda p{
        font-size: calc(100%/4 + 3.5vh)
    }
    .seccion-derecha{
        margin-top: 1em;
    }

    /* QUE HACEMOS */

    #QUEHACEMOS {
        display: flex;
        flex-direction: column;
        margin-top: -1em;
    }
        .que-hacemos{
            border: none;
            margin-bottom: 0.5em;
            font-weight: bold;
        }
        .que-hacemos p{
            font-size: calc(100%/4 + 3.5vh);
        }
        .dise単amos-para {
            font-size: calc(100%/4 + 2.75vh)
        }
        .que-hacemos-texto {
            font-size: calc(100%/4 + 2vh)
        }
        .que-hacemos br, .josuealvarez-footer br{
            display: none;
        }
        .dise単amos-para {
            margin-bottom: 0.5em;
        }
        .imagenes-en-triangulos {
            margin-top: 2em;
            display: flex;
            justify-content: space-evenly;
        }
        .deposita-un-adelanto {
            margin: 0;
        }
    
    /* COSTOS */ 

    .fondo{
        background-attachment: fixed;
    }
    .contenedor-de-cartas {
        display: flex;
        flex-direction: column;
    }
   
    .titulo-de-cartas {
        font-size: calc(100%/4 + 4vh);
    }    
    .card h5{
        font-size: calc(100%/4 + 2vh);
    }
    .precio {
        font-size: calc(100%/4 + 4vh);
    }
    .precio-en-pesos{
        font-size: calc(100%/4 + 2vh);
    }
    .card div ul li,.card div a {
        font-size: calc(100%/4 + 2vh);
    }
    .card {
        margin: auto;
        width: 90%;
        
    }
    .card2 {
        margin: 1em auto;
    }

    #COSTOS svg {
        height: 3%;
    }

    .items-de-costos li{
        margin-bottom: 0.75em;
    }

    /* PORQUE TENER UNA PAGINA WEB*/

    .contenedor-de-pregunta {
        display: grid;
        grid-template-columns: 100%;
    }

    .seccion-derecha2 {
        text-align: center;
        margin-top: 1em;
        font-size: 3vh;
    }
    .seccion-derecha2 h3 {
        font-size: calc(100%/4 + 3vh)
    }
    .seccion-derecha2 {
        font-size: calc(100%/4 + 2.25vh)
    }

    .contenedor-de-lista {
        display: grid;
        row-gap: 1em;
        width: auto;
        margin-top: 1.5em;
    }

    .contenedor-de-item{
        display: grid;
        grid-template-columns: minmax(50%, 100%);
        row-gap: 1em;
        height: auto;
    }
    .item{
        font-size: calc(100%/4 + 2.25vh);
        justify-content: center;
        width: 100%;
        margin: auto;
    }
    .fa-check{
        font-size: 20px;
    }
    .p4{
        width: 80%;
    }

    /* GIF */
    .rectangulo h2 {
        width: 100%;
        font-size: calc(100%/3 + 2.26vh)
    }
    .gif img {
        width: 100%;
    }


    /* TE CONTACTAMOS */

    .formulario-titulo{
        font-size: calc(100%/4 + 3vh);
        margin-top: 1.5em
    }
    .formulario-texto h2{
        font-size: calc(100%/4 + 2.5vh);
        margin-bottom: 0.5em;
    }
    .formulario-texto p{
        font-size: calc(100%/4 + 2vh);
        margin-bottom: 0.75em;
    }
    form a {
        font-size: calc(100%/4 + 2vh);
    }
    .formulario-texto ul{
        margin-bottom: 1.5em;
    }
    .formulario-texto ul li{
        line-height: calc(100%/4 + 4.25vh);
        font-size: calc(100%/4 + 2vh);
    }
    .fa-whatsapp, .fa-phone-alt, .fa-envelope{
        font-size: calc(100%/4 + 3vh);
    }
    .fa-phone-alt{
        font-size: calc(100%/4 + 2.2vh);    
    }
    
    input, textarea {
        max-width: 80%;
        min-width: 80%;
        font-size: calc(100%/4 + 2vh);
        margin-bottom: 0.8em;
        border-style: none;
    }
    textarea {
        max-height: 30%;
        min-height: 30%;
    }
    .formulario-texto br{
        display: none;
    }
    .formulario{
        display: grid;
        grid-template-columns: 100%;
        row-gap: 1em;
    }
    .fa-location-arrow{
        display: none;
    }

    /* FOOTER */

    #FOOTER{ 
        padding: 3em 0 1em 0;
    }
    .contenedor-de-footer {
        width: 100%;
        margin-top: 1em;
        display: grid;
        grid-template-columns: 100%;
        row-gap: 1em;
        padding: 0 0;
    }
    .contenedor-de-footer div{
        padding: 0;
    }
    .contenedor-de-footer div h3{
        margin-bottom: 4px;
        font-size: calc(100%/4 + 3vh);
    }
    .contenedor-de-footer div p{
        font-size: calc(100%/4 + 1.75vh);
        padding-left: 2em;
        padding-right: 2em;    
    }
    .josuealvarez-footer{
        margin-bottom: 0.5em;
    }
    .footer-imagen img{
        width: 50%;
    }
}


/* AGREGAR ANIMACION A LOS BOTONES DE AGRANDARSE EL COLOR DESDE CERO */







/* @media (max-width: 952px){
    label.logo{
        font-size: 30px;
        padding-left: 30px
    }
    nav ul li a{
        font-size: 16px;
    }
} */